@charset "UTF-8";
*{margin: 0; padding: 0;}
html, body{height: 100%;}
ul, ol{list-style: none;}
body{background: cadetblue;}
a{color: #666;}

.box{
    position: absolute;
    width: 100px;
    height: 100px;
    background: orange;
    top: 100px;
    left: 100px;
}